* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;

    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    flex: 2 1 400px;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
    }

    li {
      a {
        color: teal;
        text-decoration: none;
        font-size: 1.25rem;
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 2rem 0rem;
    }
  }

  section.cards {
    display: flex;
    width: 80%;
    height: 80vh;
    flex-wrap: wrap;


    div.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      flex: 1 1 300px;

      img {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        margin: 1rem 0rem;
      }

      h4 {
        font-size: 2rem;
        margin: 1rem 0rem;
      }

      p {
        font-size: 1.25rem;
      }

      a {
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: cornflowerblue;
        color: white;
        font-size: 1.25rem;
        margin: 1rem 0rem;
      }
    }
  }
}


h3 {
  font-size: 2.5rem;
  color: white;
  margin: 2rem 0rem;
}

button.start {
  background-color: dodgerblue;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 50vw;
            height: 50vw;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0rem;

      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }

}

footer {
  background-color: lightgrey;

  div.logo {
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;

    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    justify-content: center;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      
    }
  }

}